img {
  width: 100%;
}
hr{
  border: 5px solid gray;
  padding-bottom: 20px;
}
h1,h2,h3,h4,h5{
  font-weight: bold;
}
.list_elem h5{
  margin-bottom: 1rem;
}
.stack-item d-md-flex h3{
  padding-right: 260px;
}
.disabled_p{
  color: gray;
  font-size: 12px;
}
.horizonal_hr{
  color: gray;
  border-bottom: 5px solid gray;
  padding: 0;
}
a {
  color: black;
  text-decoration: none;
}

.square {
  width: 100%;
  position: relative;
}
.project{
  font-weight: bold;
}
.modal-content{
  color: white;
  background-color: black;
}
.stack_info{
  padding-left: 30px;
}
.tech_stack{
  border-right: 5px solid gray;
  padding-right: 85px;
}
.square::after {
  width: 100%;
  padding-bottom: 100%;
  content: "";
  display: block;
}
.thumbnail{
  background-image: url("/imgs/nobrand.png");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
}
.square .inner-square {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid black;
  overflow: hidden;
}
.represent-id{
  font-size: 1rem;
  color: gray;
}
#root {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.item p{
  font-weight: bold;
}
#root > div {
  margin-bottom: 2rem;
}

#info .photo {
  width: 40%;
}

.introduction .represent-id {
  font-size: 1rem;
  color: gray;
}

.links {
  white-space: nowrap;
}

.links svg {
  width: 1rem;
}

#info-small .photo {
  width: 80%;
}

#remark {
  text-align: center;
  padding-bottom: 50px;
}
.title-box img{
  width: 100%;
  object-position: left;
}
#remark svg {
  width: 3rem;
  height: 3rem;
}

#project .item .title-box img.project-title {
  object-fit: contain;
}
.title-box img{
  border: none;
}
.period {
  color: gray;
}
#disabled{
  cursor: pointer;
}
#project .item .infomation > * {
  margin-bottom: 1.5rem;
}
.infomation flex-fill{
  padding-left: 50px;
}
#project .item .infomation .project-title svg {
  width: 2rem;
}

#project .item .infomation .stack-list svg {
  width: 3rem;
  margin: 0.5rem;
}
.list_ul p{
  font-weight: bold;
}
.modal_btn_area{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.modal_btn_area button{
  margin:10px;
}
#stack .stack-item h3 {
  min-width: 10rem;
}
.list{
}
#stack .stack-list .stack-list-item h5 {
  min-width: 10rem;
}

#stack .stack-list .stack-list-item h5 svg {
  width: 2rem;
}

#modal {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}
.details{
  font-weight: bold;
  font-size: 3.5vmin;
  color: yellowgreen;
}
#modal .modal-box {

  padding: 1rem 2rem;
  background-color: white;
  min-width: 200px;
}
.modal-btn-area{
  display: flex; 
  justify-content: center;
}
.modal-btn-area button{
  margin: 30px;
  padding: 15px;
  color: white;
}
.modal-btn-area a{
  color: white;
}
.list_elem li{
  font-weight: bold;
  padding-bottom: 5px;
}
/* @media screen and (min-width: 576px) { */
@media screen and (min-width: 768px) {
  #project .item .title-box {
    min-width: 250px;
    max-width: 300px;
  }
  .title-box{
    border-right: 5px solid gray;
  }

  #project .item .title-box img.project-title {
    height: 200px;
  }
}
